<div class="personalImageGallery" id="links">
  <section class="grid-wrap">
    <ul class="grid swipe-rotate" id="grid">
    
    </ul>
  </section>	
</div>


<%= render partial: 'favoritesScript' %>
