
<div class="addSmile">
  <img id="camera" src="assets/smileCamera.png" type="button" data-toggle="modal" data-target="#postsmile" >
</div>

<div id="links">

  <section class="grid-wrap">
				<ul class="grid swipe-rotate" id="grid">

				</ul>
	</section>

</div><!--links close-->

<div class="btn-group btn-group-justified" id="loadMoreBtnBox">
  <div id="loadMoreBtn" class="btn btn-default" type="button">
  Load More
  </div>
</div>

<div class="homePageFooter">
	<span class="fa fa-copyright"><span class="rightsInfo">All rights reserved | Singularity Lab</span></span>
	
</div>
