
<div class="addSmile">
  <img id="camera" src="assets/smileCamera.png" type="button" data-toggle="modal" data-target="#postsmile" >
</div>






<div id="links">

  <section class="grid-wrap">
				<ul class="grid swipe-rotate" id="grid">
			    <!--
					<% if signed_in? %>
					  <% current_user.smiles.each do |smile| %>
					    <% if smile.image != nil %>
					      <li>
					        <a href="<%= smile.image %>"+"?imageMogr2/thumbnail/1366x" data-gallery>
					        <img src="<%= smile.image %>"+"?imageMogr2/thumbnail/710x" />
					        </a>
					          <h3> 
                                  <div class="functionBar">

                                    <a id="<%= smile.id %>" class="<%= current_user.favoring?(smile) ? "favor unfavor" : "favor" %>" ><span class="fa fa-heart "></span></a>
                                    <span class="fa fa-send "></span>
                                    <img src="assets/SmileAtIcon.png" class="smileAt" type="button" data-toggle="modal" data-target="#smileAtSb">
                                  </div>

                              </h3>
                            
                          </li>
                        <% end %>
					  <% end %>
					<% end %>
                         

                    
                
					<li><a href="assets/2.jpg" title="2" data-gallery><img src="assets/2.jpg" alt="img02"><h3>SQUET April 2014 issue</h3></a></li>
					<li><a href="assets/3.jpg" title="3" data-gallery><img src="assets/3.jpg" alt="img03"><h3>MONOCLE issue 72</h3></a></li>
					<li><a href="assets/4.jpg" title="4" data-gallery><img src="assets/4.jpg" alt="img04"><h3>TOWN Winter 2013</h3></a></li>
					<li><a href="assets/5.jpg" title="5" data-gallery><img src="assets/5.jpg" alt="img05"><h3>Quarterly Musashino autumn of 2013 issue</h3></a></li>
					<li><a href="assets/6.jpg" title="6" data-gallery><img src="assets/6.jpg" alt="img06"><h3>MONOCLE issue 69</h3></a></li>
					<li><a href="assets/7.jpg" title="7" data-gallery><img src="assets/7.jpg" alt="img07"><h3>Real Simple May 2014</h3></a></li>
					<li><a href="assets/8.jpg" title="8" data-gallery><img src="assets/8.jpg" alt="img08"><h3>The 65th Book Week</h3></a></li>
					<li><a href="assets/9.jpg" title="9" data-gallery><img src="assets/9.jpg" alt="img09"><h3>Real Simple May 2014</h3></a></li>
					<li><a href="assets/10.jpg" title="10" data-gallery><img src="assets/10.jpg" alt="img10"><h3>Quarterly Musashino spring of 2014 issue</h3></a></li>
					<li><a href="assets/11.jpg" title="11" data-gallery><img src="assets/11.jpg" alt="img11"><h3>MAJESTY express vol. 01</h3></a></li>
					<li><a href="assets/12.jpg" title="12" data-gallery><img src="assets/12.jpg" alt="img12"><h3>Shitamachi Rocket</h3></a></li>
					<li><a href="assets/13.jpg" title="13" data-gallery><img src="assets/13.jpg" alt="img13"><h3>Quarterly Musashino winter of 2013 issue</h3></a></li>
					<li><a href="assets/14.jpg" title="14" data-gallery><img src="assets/14.jpg" alt="img14"><h3>MAINICHI CHUUGOKUGO April 2014</h3></a></li>
					<li><a href="assets/15.jpg" title="15" data-gallery><img src="assets/15.jpg" alt="img01"><h3>Kenpo News April 2014 issue</h3></a></li>
					<li><a href="assets/16.jpg" title="16" data-gallery><img src="assets/16.jpg" alt="img02"><h3>SQUET April 2014 issue</h3></a></li>
					<li><a href="http://www.behance.net/gallery/15586227/MONOCLE-issue-72"><img src="assets/17.jpg" alt="img03"><h3>MONOCLE issue 72</h3></a></li>
					<li><a href="http://www.behance.net/gallery/11880495/TOWN-Winter-2013"><img src="assets/18.jpg" alt="img04"><h3>TOWN Winter 2013</h3></a></li>
					<li><a href="http://www.behance.net/gallery/11455333/Quarterly-Musashino-autumn-of-2013-issue"><img src="assets/19.jpg" alt="img05"><h3>Quarterly Musashino autumn of 2013 issue</h3></a></li>
					<li><a href="http://www.behance.net/gallery/12866129/MONOCLE-issue-69"><img src="assets/20.jpg" alt="img06"><h3>MONOCLE issue 69</h3></a></li>
					<li><a href="http://www.behance.net/gallery/16631085/Real-Simple-May-2014"><img src="assets/21.jpg" alt="img07"><h3>Real Simple May 2014</h3></a></li>
					<li><a href="http://www.behance.net/gallery/11727343/The-65th-Book-Week"><img src="assets/22.jpg" alt="img08"><h3>The 65th Book Week</h3></a></li>
					<li><a href="http://www.behance.net/gallery/16631085/Real-Simple-May-2014"><img src="assets/23.jpg" alt="img09"><h3>Real Simple May 2014</h3></a></li>
					<li><a href="http://www.behance.net/gallery/15566747/Quarterly-Musashino-spring-of-2014-issue"><img src="assets/24.jpg" alt="img10"><h3>Quarterly Musashino spring of 2014 issue</h3></a></li>
					<li><a href="http://www.behance.net/gallery/11134427/MAJESTY-express-vol-01"><img src="assets/25.jpg" alt="img11"><h3>MAJESTY express vol. 01</h3></a></li>
					<li><a href="http://www.behance.net/gallery/13329103/Shitamachi-Rocket"><img src="assets/1.jpg" alt="img12"><h3>Shitamachi Rocket</h3></a></li>
					<li><a href="http://www.behance.net/gallery/13285315/Quarterly-Musashino-winter-of-2013-issue"><img src="assets/2.jpg" alt="img13"><h3>Quarterly Musashino winter of 2013 issue</h3></a></li>
					<li><a href="http://www.behance.net/gallery/16541811/MAINICHI-CHUUGOKUGO-May-2014"><img src="assets/3.jpg" alt="img14"><h3>MAINICHI CHUUGOKUGO April 2014</h3></a></li>
		        -->
				</ul>
	</section>

</div><!--links close-->

<div class="btn-group btn-group-justified">
  <div id="loadMoreBtn" class="btn btn-default" type="button">
  Load More
  </div>
</div>
