<div class="smileMessageBox">
  <div class="smileMessageBoxHeader">
    <h2>All Smil@ Me messages</h2>
  </div>
  <div class="smileMessagesList">
    <table class="table smileMessages">
  	
    </table>
    <nav class="messagesPager">
       <ul class="pager">
          <li class="previous"><a>Previous</a></li>
          <li class="next"><a>Next</a></li>
        </ul>
    </nav>
  </div>
</div>

<%= render partial: 'indexScript' %>