<div class="uploadIntroduction">
  <span>Upload a photo with smile</span>
</div>
<div id="uploadFormContainer">
  <form id="uploadForm" enctype="multipart/form-data">
    <input id="token" name="token" type="hidden" value="<%= @uptoken %>">
    <input id="file" name="file" type="file" />
    <input id="key" name="key" type="hidden" value="<%= @key %>">
    <input name="accept" type="hidden" />
  </form>
  <button type="button" id="btn_upload" class="btn btn-default"><span class="fa fa-photo">&nbsp; &nbsp;</span>Choose a photo</button>
</div>