<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Smile At Me", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><a href="home_path"><img src="assets/Inbox.png"></a></li>
         
        </ul>
      </nav>
    </div>
  </div>
</header>