<div class="modal fade" id="smileAtSb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      <b>Chose a smile:</b>
        <div class="row">
          <div class="col-md-12" id="uploadedSmiles">

          
          </div>
        </div>          
      </div>
        <nav>
          <ul class="pager" id="smileAtSbPager">
             <li class="previous"><a><span aria-hidden="true">&larr;&nbsp;</span>Previous</a></li>
             <span class="smileAtSbPercentage"></span>
             <li class="next"><a>Next<span aria-hidden="true">&nbsp;&rarr;</span></a></li>
          </ul>
        </nav>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="sureToSend">Send</button>
      </div>
    </div>
  </div>
</div>